
<!-- home.handlebars -->
<div class='text-center' style='padding-top: 200px;'>
    <h1>Search for GIFS</h1>
    <form action="/">
      <input style='height: 37px;' type="text" name="term">
      <button class='btn btn-dark' type="submit">Search</button>
    </form>
</div>
